$color-primary: #7E288B;
$color-secundary: #1ABBBF;
$color-background:  #FFFFFF;
$font-all: Greycliff_b, sans-serif;

.Banner {
  width: 100%;
  height: 108px;
  background: $color-background;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Banner-logo {

top: 30px;
width: 350px;
left: 312px;
}

.welcome {
  width: 170px;
  height: 29px;
  left: 939px;
  top: 25px;
  font-family: $font-all;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: $color-primary;
  margin-top: 1%;
}

.logOut {
  background: #FFFFFF;
  border: 2px solid #1ABBBF;
  box-sizing: border-box;
  border-radius: 32px;
  width: 181px;
  height: 56px;
  font-family: $font-all;
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #1ABBBF;
}

.Banner-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}