.upload-files{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 100%;
   
}

.img-upload {
  display:flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  flex-wrap: wrap;
  // width: 500px;
  // height: 450px;
  // left: 500px;
  // top: 200px;

}

.btn-upload-image {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 180px;
  height: 75px;
  // left: 647.84px;
  // top: 656.74px;
  font-family: Greycliff_b, sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  border-radius: 15px;
  background-color: #5b1a6b;
  color: #ffffff;
}

.img-file{
  margin: 2rem;
}