@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-all:'Roboto', sans-serif;
.upload-files{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 100%;
     
}

.img-upload {
  display:flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  flex-wrap: wrap;
  width: 300px;
  height: 275px;
  // left: 500px;
  // top: 200px;
}
  
input[type="file"] {
  display: flex;
  position: absolute;
  margin-left: 60px;
  justify-content: center;
  width: 180px;
  height: 75px;
  opacity: 0;
}
  .btn-upload-image {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 180px;
    height: 75px;
    // left: 647.84px;
    // top: 656.74px;
    font-family: $font-all;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    border-radius: 15px;
    background-color: #5b1a6b;
    color: #ffffff;
    cursor: pointer;
  }
  .btn-upload-image-2 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 180px;
    height: 75px;
    // left: 647.84px;
    // top: 656.74px;
    font-family: $font-all;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    border-radius: 15px;
    background-color: #5b1a6b;
    color: #ffffff;
    cursor: pointer;
    
  }
  
  .btn-upload-image-2:active, .btn-upload-image-1:active{
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(3px);
}
  .img-file{
    margin: 2rem;
  }

  .btns{
    border-radius: 5px;
      width: 135px;
      height: 30px;
      font-size: 12px;
      cursor: pointer;
      margin: 1%;
  }

  @media only screen and (max-width: 1110px) {
   .btn-upload-image, .btn-upload-image-2{
    font-size: 18px;
    width: 170px;
    height: 70px;
   }

   .img-upload{
    width: 250px;
    height: 225px;
   }
}