$color-border-inputs:#7E288B;
$color-bc-inputs:#FFFFFF;
$color-font-inputs: rgba(0, 0, 0, 0.32);

form{
    border: 3px solid $color-border-inputs;
    width: 548px;
    height: 486px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin:18% 66% 10%;
}
.n-folio {
    align-items: center;
    text-align: center;
    margin: 10px 5%;
    background-color: $color-bc-inputs;
    border: 2px solid $color-border-inputs;
    border-radius:10px;
    width: 30%;
    height: 1em;
    color:$color-font-inputs;
    font-size:14px;
    font-family: Greycliff_b, sans-serif;
}

.container{
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin:auto;
}
.type-cont{
    display: inline-block;
   
    align-items: center;
    justify-content: center;
}
@for $i from 1 through 3 {
    .date-#{$i} 
    {
        border-radius: 10px;
        background-color: $color-bc-inputs;
        border: 1px solid $color-border-inputs;
        text-align: center;
        width: 30%;
        height: 2em;
        margin:8.5%;
        font-size:14px;
        font-family: Greycliff_b, sans-serif;
        color:$color-font-inputs;
    }
}

@for $i from 1 through 4 {
    .label-#{$i} 
    {
        font-family: Greycliff_b, sans-serif;
        font-size: 16px;
        margin:auto;
        padding-left: 25%;
        display:inline-block;
    }
}


.btn-continue{
    background-color: $color-border-inputs;
    border-radius: 20px;
    border:none;
    width: 50%;
    height: 2em;
    margin-left: 30%;
    margin-right: 20%;
    color:$color-bc-inputs;
    font-size:22px;
    font-family: Greycliff_b, sans-serif;
}

.type-cont{
    display:flex;
    display:inline-block;
    justify-content: center;
    text-align: center;
}

.containerForm{
    width: 100%;
}

@media only screen and (max-width: 575px){
    
    .formulary{
        margin-top: auto;
    }
    .container{
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin:auto;
    }
}
