@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$color-border-inputs:#7E288B;
$color-bc-inputs:#FFFFFF;
$color-font-inputs: rgba(0, 0, 0, 0.32);
$font-all:'Roboto', sans-serif;

.form{
    border: 3px solid $color-border-inputs;
    width: 548px;
    height: 486px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.n-folio {
    align-items: center;
    text-align: center;
    margin: 10px 5%;
    background-color: $color-bc-inputs;
    border: 2px solid $color-border-inputs;
    border-radius:10px;
    width: 30%;
    height: 1em;
    color:$color-font-inputs;
    font-size:14px;
    font-family: $font-all;
    font-weight: bold;
}

.container{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 7%;
}
.type-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $font-all;

}

.inputFolio{
    border-radius: 10px;
        background-color: $color-bc-inputs;
        border: 1px solid $color-border-inputs;
        text-align: center;
        width: 40%;
        height: 2em;
        margin:8.5%;
        font-size:14px;
        font-family: $font-all;
        color:$color-font-inputs;
}

@for $i from 1 through 5 {
    .date-#{$i} 
    {
        border-radius: 10px;
        background-color: $color-bc-inputs;
        border: 1px solid $color-border-inputs;
        text-align: center;
        width: 70%;
        height: 2em;
        margin:5%;
        font-size:14px;
        font-family: $font-all;
        color:$color-font-inputs;
    }
}

@for $i from 1 through 4 {
    .label-#{$i} 
    {
        font-family: $font-all;
        font-weight: bolder;
        font-size: 16px;
        margin:auto;
        padding-left: 10%;
        display:inline-block;
    }
}
.label-type{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    align-content: flex-start;
    align-items: center;
    margin-right: 30px;
}

.btn-continue{
    background-color: $color-border-inputs;
    border-radius: 20px;
    border:none;
    width: 50%;
    height: 2em;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 20%;
    color:$color-bc-inputs;
    font-size:22px;
    font-family: $font-all;
    font-weight: bold;
}


// 
// @media only screen and (max-width: 575px){
    // 
    // .formulary{
        // margin-top: auto;
    // }
    // .container{
        // display:flex;
        // flex-direction: column;
        // text-align: center;
        // align-items: center;
        // margin:auto;
    // }
// }