@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-all:'Roboto', sans-serif;
h1{
    text-align: center;
    font-family: $font-all;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.9em;
    color: #333;
    }

ul {
    width: 500px;
    text-align: center;
    display:inline-table;
    font-family: $font-all;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.72);
    padding: 3%;
}

.textPurple{
    color: #5b1a6b;
}

.textGreen{
    color: #1ABBBF
}

.imgCheck {
    width: 60px;
    height: 60px;
    margin-left: 40%;
    margin-right: 20%;
    margin-bottom: 16%;
    margin-top: 5%;
}
@media only screen and (max-width: 1110px) 
{
    h1{
        font-size: 150%;
    }

    ul{
        font-size: 100%;
        width: 250px;
    }
}
