@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$font-all:'Roboto', sans-serif;
h1{
    text-align: center;
    font-family: $font-all;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.9em;
    color: #333;
    }

ul {
    width: 428px;
    text-align: center;
    display:inline-table;
    font-family: $font-all;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.72);
    padding: 3%;
}

.textPurple{
    color: #5b1a6b;
}

.textGreen{
    color: #1ABBBF
}