@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$color-primary: #7E288B;
$color-primary2: #7e3c883a;
$color-secundary: #1ABBBF;
$color-background:  #FFFFFF;
$font-all:'Roboto', sans-serif;

.modal{
    top: 0px;
    left: 0px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $color-primary2;
    justify-content: space-around;
    align-items: center;
   }
.container-modal {
    width: 75%;
    height: 55%;
    position: relative;
}

.btn-close {
    position: absolute;
    color: $color-secundary;
    font-size: 61px;
    border: none;
    background: none;
    top: 3rem;
    right: 3rem;
}

.modal.is-open{
    display: flex;
}

.form-coment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #7e3c8899;
    border-radius: 15px;
    margin-top: 8%;
}
.btn-add {
    font-family: $font-all;
    font-weight: 600;
    font-size: 30px;
    color: $color-background;
    width: 35%;
    height: 7%;
    padding: 2px;
    margin-bottom:5px ;
    background: $color-secundary;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#text-coment {
    width: 80%;
    height: 75%;
    color: #939393;
    font-family: $font-all;
    font-size: 32px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid $color-secundary;
    padding: 1rem;
}