@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$color-background: #F6F6F6;
$color-moradauno: #7E288B;
$color-backCard: #FFFFFF;
$font-all:'Roboto', sans-serif;

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.principal {
    width: 100%;
    margin-top: 2rem;
}
.btn-nav {
    border: none;
    background: none;
    font-family: $font-all;
    font-size: 18px;
    font-weight: bold;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prev-img {
    width: 200px;
    height: 200px;
}
.card {
    border: 2px solid $color-moradauno;
    border-radius: 40px 0px 0px 0px;
    width: 300px;
    height: 330px;
    text-align: center;
    font-family: $font-all;
    font-size: 18px;
    font-weight: bold;
    margin-top: 4em;
}