@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$color-background: #F6F6F6;
$color-moradauno: #7E288B;
$color-backCard: #FFFFFF;
$font-all:'Roboto', sans-serif;

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.principal {
    width: 100%;
    margin-top: 2rem;
}
.btn-nav {
    border: none;
    background: none;
    font-family: $font-all;
    font-size: 18px;
    font-weight: bold;
    margin-left: 55px;
    text-decoration-line: underline;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 6rem;
    padding: 15px;
    padding-top: 0;
    margin: 2.5rem;
}
.prev-img {
    width: 200px;
    height: 200px;
}
.card {
    border: 2px solid $color-moradauno;
    border-radius: 40px 0px 0px 0px;
    width: 300px;
    height: 330px;
    text-align: center;
    font-family: $font-all;
    font-size: 18px;
    font-weight: bold;
    margin-top: 4em;
}

.text-card1 {
    display:none;
}
.text-card2{
    margin-top: 20px;
    margin-bottom: 20px;
}